<!DOCTYPE html>
<html ng-app="IBD" charset="utf-8">
<head>
	<link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css">
	<link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css">

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
	<script src="js/createToiletLog.js"></script>
</head>
<body>
	<div ng-controller="ToiletLogController as toa">
		<div class="scrollable">
			<div class="scrollable-content">
				<form class="ng-pristine ng-valid">
					<div bs-panel title="Tidpunkt">
						<div class="form-group-row">
							<input bs-form-control type="datetime-local" ng-model="toa.time" label="Tid för besöket" label-class="col-xs-4 col-sm-3 col-lg-2" class="col-xs-8 col-sm-9 col-lg-10" />
						</div>
					</div>

					<div bs-panel title="Data">
						<div class="form-group-row">
							<label class="control-label col-xs-4 col-sm-3 col-lg-2" >Avföringskonsistens</label>
							<div class="form-control-wrapper col-xs-8 col-sm-9 col-lg-10">
								<div class="btn-group justified nav-tabs">
									<a class="btn btn-default" ng-class="{ active: toa.textureIsSet(1) }" ng-click="toa.setTexture(1)">Fast</a>
									<a class="btn btn-default" ng-class="{ active: toa.textureIsSet(2) }" ng-click="toa.setTexture(2)">Lös</a>
									<a class="btn btn-default" ng-class="{ active: toa.textureIsSet(3) }" ng-click="toa.setTexture(3)">Blodig</a>
								</div>
							</div>
						</div>

						<div class="form-group-row">
							<label class="control-label col-xs-4 col-sm-3 col-lg-2" >Smärta</label>
							<div class="form-control-wrapper col-xs-8 col-sm-9 col-lg-10">
								<div class="btn-group justified nav-tabs">
									<a class="btn btn-default" toggleable ng-class="{ active: toa.painIsSet(true) }" ng-click="toa.setPain(true)" >Ja</a>
									<a class="btn btn-default" ng-class="{ active: toa.painIsSet(false) }" ng-click="toa.setPain(false)">Nej</a>
								</div>
							</div>
						</div>
					</div>

					<div bs-panel class="form-actions">
						<button class="btn btn-primary">Spara</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>
