<div ui-content-for="title">
    <span>Challenges</span>
</div>

<div class="scrollable tests challenges">
    <div class="scrollable-content">
        <div class="container-fluid">
        <!--
        	<div class="row item">
                <div class="col-xs-6">Name</div>
                <div class="col-xs-6">
                	Value
                	<div class="pull-right"><small>Latest entry</small></div>
                </div>
            </div>
            -->
            <a ng-repeat="challengeName in challengeNames" class="row item" href="#/test/{{challengeName}}">
                <div class="col-xs-6">{{tests[challengeName].english}}</div>
                <div class="col-xs-6">
                	{{latestTestResult(challengeName).value || '?'}} {{tests[challengeName].unit}}
                	<div class="pull-right"><small>{{latestTestResult(trialName) ? moment(latestTestResult(trialName).date).format('YYYY-MM-DD') : ''}}</small></div>
                </div>
            </a>
        </div>
    </div>
</div>