<div content-for="title">
    <span>Nytt event</span>
</div>

<div content-for="rightNavbarAction">
    <div ng-click="" class="btn btn-navbar">
        test
    </div>
</div>

<div content-for="leftNavbarAction">
    <div ng-click="" class="btn btn-navbar">
        <i class="fa fa-angle-left"></i> test
    </div>
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <div class="section section-break">
            <h1>Graph!</h1>
            <a href="#graph">Graph</a>
            <a href="#shs">SHS</a>
            <a href="#toa">Toa</a>
            <a href="#welcome">Welcome</a>

            <div id="body">
                <div id="chart"></div>
            </div>
            <div id="chart2"></div>
        </div>
    </div>
</div>



