<div ui-content-for="title">
    <span>Journal</span>
</div>

<div class="scrollable journal">
    <div class="scrollable-content">
        <div class="section section-info">Note that entries aren't visible here until they have been saved to the server.</div>
        <div class="container-fluid">

            <a ng-repeat="item in journal" class="row item" href="#/editTest/{{item.testName}}/{{item.resultId}}">
                <div class="col-xs-6">{{tests[item.testName].english}}</div>
                <div class="col-xs-6">
                    {{item.value}}
                    <div class="pull-right"><small>{{moment(item.date).format('YYYY-MM-DD')}}</small></div>
                </div>
            </a>
        </div>
    </div>
</div>
