<div ui-content-for="title">
    <span>Profile</span>
</div>

<div class="scrollable profile">
    <div class="scrollable-content">
        <div class="container-fluid">
            <a class="row name" ui-turn-on="editNameModal" style="position: relative">
                <span>{{user.name || 'First and last name'}}</span>
                <span class="btn" style="position: absolute; right: 10px;">
                    <i class="fa fa-pencil fa-1"></i>
                </span>
            </a>
            <div class="row item">
                <div class="col-xs-12">
                    <span ng-init="discipline='bouldering'" ng-click="discipline = (discipline == 'bouldering' ? 'lead' : 'bouldering')">
                        <small style="color: gray">{{discipline | capitalize}}</small> <i class="fa fa-exchange" style="color: #007aff"></i>
                    </span>
                </div>
                <div ng-controller="RadarChartCtrl">
                    <canvas id="radar" class="chart chart-radar"
                      chart-data="data" chart-labels="labels" chart-options="options" chart-colours="colours"
                      style="margin-top: -12px">
                    </canvas>

                </div>
            </div>
            <a class="row item" ui-turn-on="editBirthModal">
                <div class="col-xs-6">Date of Birth</div>
                <div class="col-xs-6">
                    <span ng-if="user.birth">
                        {{moment(user.birth).format('YYYY-MM-DD')}}
                    </span>
                    <span ng-if="!user.birth">
                        ?
                    </span>
                    <div class="btn pull-right" >
                        <i class="fa fa-pencil fa-1"></i>
                    </div>
                </div>
            </a>
            <a class="row item" ui-turn-on="editStartedClimbingModal">
                <div class="col-xs-6">Started Climbing</div>
                <div class="col-xs-6">
                    {{user.startedClimbing || '? (year)'}}
                    <div class="btn pull-right">
                        <i class="fa fa-pencil fa-1"></i>
                    </div>
                </div>
            </a>
            <a class="row item" href="#/test/height">
                <div class="col-xs-6">Height</div>
                <div class="col-xs-6">{{latestTestResult('height').value || '?'}} {{tests['height'].unit}}</div>
            </a>
            <a class="row item" href="#/test/weight">
                <div class="col-xs-6">Weight</div>
                <div class="col-xs-6">{{latestTestResult('weight').value || '?'}} {{tests['weight'].unit}}</div>
            </a>
            <a class="row item" href="#/test/apeIndex">
                <div class="col-xs-6">Ape index</div>
                <div class="col-xs-6"><span ng-if="latestTestResult('apeIndex').value>0">+</span>{{latestTestResult('apeIndex').value || '?'}} {{tests['apeIndex'].unit}}</div>
            </a>
            <a class="row item" href="#/test/legLength">
                <div class="col-xs-6">Leg length</div>
                <div class="col-xs-6">{{latestTestResult('legLength').value || '?'}} {{tests['legLength'].unit}}</div>
            </a>
            <div class="row tabs">
                <div class="heading col-xs-12">Personal Best</div>
                <div class="discipline col-xs-6">Bouldering</div>
                <div class="discipline col-xs-6">Lead</div>
                <div class="type col-xs-3">Flash</div>
                <div class="type col-xs-3">Redpoint</div>
                <div class="type col-xs-3">Flash</div>
                <div class="type col-xs-3" style="border-width: 1px 0 0 0">Redpoint</div>
                <a class="value col-xs-3" href="#/test/personalBestBoulderingFlash">{{latestTestResult('personalBestBoulderingFlash').value || '?'}}</a>
                <a class="value col-xs-3" href="#/test/personalBestBoulderingRedpoint">{{latestTestResult('personalBestBoulderingRedpoint').value || '?'}}</a>
                <a class="value col-xs-3" href="#/test/personalBestLeadFlash">{{latestTestResult('personalBestLeadFlash').value || '?'}}</a>
                <a class="value col-xs-3" href="#/test/personalBestLeadRedpoint" style="border-width: 0 0 1px 0">{{latestTestResult('personalBestLeadRedpoint').value || '?'}}</a>
            </div>
            <div class="row tabs" style="margin-bottom: 0">
                <div class="heading col-xs-12">Stable</div>
                <div class="discipline col-xs-6">Bouldering</div>
                <div class="discipline col-xs-6">Lead</div>
                <div class="type col-xs-3">Flash</div>
                <div class="type col-xs-3">Redpoint</div>
                <div class="type col-xs-3">Flash</div>
                <div class="type col-xs-3" style="border-width: 1px 0 0 0">Redpoint</div>
                <a class="value col-xs-3" href="#/test/stableBoulderingFlash">{{latestTestResult('stableBoulderingFlash').value || '?'}}</a>
                <a class="value col-xs-3" href="#/test/stableBoulderingRedpoint">{{latestTestResult('stableBoulderingRedpoint').value || '?'}}</a>
                <a class="value col-xs-3" href="#/test/stableLeadFlash">{{latestTestResult('stableLeadFlash').value || '?'}}</a>
                <a class="value col-xs-3" href="#/test/stableLeadRedpoint" style="border-width: 0 0 1px 0">{{latestTestResult('stableLeadRedpoint').value || '?'}}</a>
            </div>
        </div>
    </div>
</div>

<div ui-content-for="modals">
    <div ng-include="'partials/editables/name.html'"></div>
    <div ng-include="'partials/editables/birth.html'"></div>
    <div ng-include="'partials/editables/startedClimbing.html'"></div>
</div>