<div ui-content-for="title">
    <span>Profile</span>
</div>

<div class="scrollable profile">
    <div class="scrollable-content">
        <div class="container-fluid">
            <div class="row name">
                Carl Simon Romilson
            </div>
            <div class="row item">
                <div class="col-xs-12" radar-chart></div>
            </div>
            <div class="row item">
                <div class="col-xs-6">Date of Birth</div>
                <div class="col-xs-6">1989-12-23</div>
            </div>
            <div class="row item">
                <div class="col-xs-6">Started Climbing</div>
                <div class="col-xs-6">2001</div>
            </div>
            <div class="row item">
                <div class="col-xs-6">Height</div>
                <div class="col-xs-6">182 cm</div>
            </div>
            <div class="row item">
                <div class="col-xs-6">Weight</div>
                <div class="col-xs-6">81 kg</div>
            </div>
            <div class="row item">
                <div class="col-xs-6">Ape Index</div>
                <div class="col-xs-6">+10 cm</div>
            </div>
            <div class="row item">
                <div class="col-xs-6">Leg Length</div>
                <div class="col-xs-6">80 cm</div>
            </div>
            <div class="row tabs">
                <div class="heading col-xs-12">Personal Bests</div>
                <div class="discipline col-xs-6">Bouldering</div>
                <div class="discipline col-xs-6">Lead</div>
                <div class="type col-xs-3">Flash</div>
                <div class="type col-xs-3">Red point</div>
                <div class="type col-xs-3">Flash</div>
                <div class="type col-xs-3" style="border-width: 1px 0 0 0">Red point</div>
                <div class="value col-xs-3">7A</div>
                <div class="value col-xs-3">7C</div>
                <div class="value col-xs-3">7a</div>
                <div class="value col-xs-3" style="border-width: 0 0 1px 0">7b+</div>
            </div>
            <div class="row tabs" style="margin-bottom: 0">
                <div class="heading col-xs-12">Average</div>
                <div class="discipline col-xs-6">Bouldering</div>
                <div class="discipline col-xs-6">Lead</div>
                <div class="type col-xs-3">Flash</div>
                <div class="type col-xs-3">Red point</div>
                <div class="type col-xs-3">Flash</div>
                <div class="type col-xs-3" style="border-width: 1px 0 0 0">Red point</div>
                <div class="value col-xs-3">7A</div>
                <div class="value col-xs-3">7C</div>
                <div class="value col-xs-3">7a</div>
                <div class="value col-xs-3" style="border-width: 0 0 1px 0">7b+</div>
            </div>
        </div>
    </div>
</div>