<div ui-content-for="title">
    <span>{{test.title || test.english}}</span>
</div>

<div ui-content-for="rightNavbarAction"></div>

<div ui-content-for="leftNavbarAction">
    <span class="btn btn-navbar" ng-click="back();"><i class="fa fa-chevron-left"></i> Back</span>
</div>

<div class="scrollable form" ng-init="test = tests[routeParams.testName]">
    <div class="scrollable-content">
        <div ng-class="routeParams.testName" ng-include="'partials/tests/' + routeParams.testName + '.html'"></div>

	    <div ng-if="!test.overrideInput">
	    	<!-- Normal input (number) -->
	        <div class="section" ng-if="!test.isGrade">
			    <form role="form" ng-submit="saveTestResult()">
			        <fieldset>
			            <div class="form-group">
			                <label>{{test.english}}</label>
			                <div ng-class="test.unit ? 'input-group' : ''">
			                    <input
			                    	type="number"
			                    	min="{{test.min}}"
			                    	max="{{test.max}}"
			                    	step="any"
			                    	class="form-control"
			                    	ng-model="entry.value" required string-to-number />
			                    <span class="input-group-addon" ng-if="test.unit">{{test.unit}}</span>
			                </div>
			            </div>
			        </fieldset>
			        <hr />
			        <button class="btn btn-primary btn-block">Save</button>
			    </form>
			</div>

			<!-- Grade input -->
			<div class="section" ng-if="test.isGrade">
				<form role="form" ng-submit="saveTestResult()">
					<label>
						Grading system: {{test.gradeType == 'bouldering' ? 'Font.' : 'French'}}
						<span ng-repeat="conversionName in conversionNames[test.gradeType]">
				        	({{conversionName}})
				        </span>
					</label>
			        <fieldset>
				        <button
				        	ng-repeat="grade in grades[test.gradeType]"
				        	class="btn btn-block"
				        	ng-class="entry.value == grade ? 'btn-primary' : 'btn-default'"
				        	ng-click="entry.value = grade">
				        	<span class="col-xs-8">
					        	{{grade}}
					        </span>
				        	<span ng-repeat="conversionName in conversionNames[test.gradeType]" class="col-xs-4">
				        		({{conversionGrades[conversionName][grade]}})
				        	</span>
				    	</button>
			        </fieldset>
			    </form>
			</div>

		</div>
    </div>
</div>
