<div class="section section-info">
	<ul style="padding-left: 15px; margin-bottom: 0;">
		<li>Measure your arm span and compare it to your height</li>
		<li>Arm span is distance between the tips of your middle fingers</li>
		<li>When measuring your arm span place your back against a doorpost</li>
		<li>Remember that Ape index can be positive or negative. 
		If you have a longer arm span than height you are positive and if it's less it's negative</li>
		<li>When you have figured out the difference divide it by two to find out the ape index. 
		For example a person who is 200 cm tall and have a arm span of 210 cm has an ape index of 10 cm.
	</ul>
</div>
