<div ui-content-for="title">
    <span>Weight</span>
</div>

<div class="section section-info">
	<ul style="padding-left: 15px; margin-bottom: 0;">
		<li>Measure in the morning before eating or drinking anything</li>
		<li>Wear as little as possible</li>
	</ul>
</div>
<div class="section">
    <form role="form" ng-submit="">
        <fieldset>
            <div class="form-group">
                <label>Weight</label>
                <input class="form-control" type="number" ng-model="entry.value" autofocus />
            </div>
        </fieldset>
        <hr />
        <button ng-click="saveTestResult()" class="btn btn-primary btn-block">
            Spara
        </button>
    </form>
</div>
