<div class="section section-info">
	<ul style="padding-left: 15px; margin-bottom: 0;">
		<li>Measure in the morning before eating or drinking anything</li>
		<li>Wear as little as possible</li>
	</ul>
</div>
TODO: Input with several switches

<div class="section" ng-if="!test.isGrade">
    <form role="form" ng-submit="saveTestResult()">
        <fieldset>
            <div class="form-group">
                <label>{{test.english}}</label>
                <ui-switch></ui-switch>
            </div>
        </fieldset>
        <hr />
        <button class="btn btn-primary btn-block">Save</button>
    </form>
</div>


