<div class="section section-warning">
    Don't fully extend.
	When hanging for 10 seconds feel that you can hold it for another 2 seconds to avoid overexertion leading to injury.
</div>
<div class="section section-info">
	<ul style="padding-left: 15px; margin-bottom: 0;">
		<li>Use a transgression board or a sharp hold</li>
		<li>Crimp one of the sizes and hang from the grip without touching the ground</li>
		<li>Don't full crimp</li>
		<li>To make a size hold it for 10 seconds without touching the ground</li>
	</ul>
</div>