<div class="section section-warning">
	Warm up your fingers properly!
</div>
<div class="section section-info">
	<ul>
		<li>For this you need strips of different sizes with sharp edges, a transgression board is recommended</li>
		<li>Half crimp, don't full crimp (i.e. no thumb on index finger)</li>
		<li>Mark down the smallest size you can hang on for 10 seconds and still feel like you could have kept going for at least another 2 seconds</li>
	</ul>
</div>

Picture: Show sharp strip and proper form of half-crimp