<div ui-content-for="title">
    <span>Push-ups</span>
</div>

<div class="section section-info">
	<ul style="padding-left: 15px; margin-bottom: 0;">
		<li>Only toes and hands touch the ground</li>
        <li>Lower yourself and turn when your chest lightly touches the ground</li>
		<li>Keep straight</li>
		<li>No resting or pausing</li>
	</ul>
</div>
<div class="section">
    <form role="form" ng-submit="">
        <fieldset>
            <div class="form-group">
                <label>Push-ups</label>
                <input class="form-control" type="number" ng-model="entry.value" string-to-number />
            </div>
        </fieldset>
        <hr />
        <button ng-click="saveTestResult()" class="btn btn-primary btn-block">
            Spara
        </button>
    </form>
</div>
