<div class="modal"
    ui-if='editNameModal'
    ui-state='editNameModal'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog"
        ui-outer-click="Ui.turnOff('editNameModal'); saveUserToServer()"
        ui-outer-click-if="Ui.active('editNameModal')">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                ui-turn-off="editNameModal">&times;</button>
                <h4 class="modal-title">Edit Name</h4>
            </div>
            <div class="modal-body">
                <input type="text"
                    ng-model="user.name"
                    class="form-control"
                    placeholder="First and last name"
                    autofocus>
            </div>
        </div>
    </div>
</div>